
//colors



//paddings
$padding: 20px;
$padding-mobile: 10px;


//breakpoint

// mobile devices
$mobile-xs: 320px;
$mobile-sm: 375px;
$mobile-md: 425px;
$mobile-lg: 768px;

// tablets
$tablet-sm: 1024px;
$tablet-lg: 1280px;

// laptops
$laptop-sm: 1366px;
$laptop-md: 1440px;
$laptop-lg: 1600px;

// desktops
$desktop-sm: 1920px;
//$desktop-md: 2560px;
//$desktop-lg: 3840px;






